body {
  background-color: #f8f9fa; /* Un fondo gris muy claro */
  overflow-x: hidden; /* Previene el scroll horizontal no deseado */
}

.app-container {
  display: flex;
  position: relative;
}

.content-wrapper {
  flex-grow: 1;
  /* La transición y el margen son claves para la animación */
  transition: margin-left 0.3s ease;
  padding: 0;
  /* Empieza con el margen del sidebar abierto */
  margin-left: 260px;
}

/* Cuando el sidebar se cierra, ajustamos el margen del contenido */
.app-container.sidebar-closed .content-wrapper {
  margin-left: 80px;
}

.main-content {
  padding: 1.5rem;
}
